/*
========================================================
    Litebox: a small alternitive to other lightboxes
========================================================
*/

@charset "UTF-8";

@-webkit-keyframes fadelite {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@-moz-keyframes fadelite {
	from { opacity: 0; }
    50% { opacity: .5; }
    to { opacity: 1; }
}

@keyframes fadelite {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

.litebox {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0;
}

.litebox:target {
	-webkit-animation: fadelite .2s linear;
	-moz-animation: fadelite .2s linear;
	animation: fadelite 1s linear;
	display: block;
	opacity: 1;
}